example_1/__pycache__/
gui_example_1/__pycache__/contactos_controller.cpython-310.pyc
gui_example_1/__pycache__/contactos_view.cpython-310.pyc
gui_example_1/__pycache__/contactos_repository.cpython-310.pyc
gui_example_1/__pycache__/contactos.cpython-310.pyc
gui_example_1/contactos.db
